:host {
  --couch-chat-height: 180px;
}

:host(.embedded) {
  transform: none;
  transition: none;
}

:host(.embedded) #edge-tab {
  display: none;
}

:host(.embedded) header,
:host(.embedded) header:active {
  cursor: default;
}

#lobby.remote-expanded,
#chat-container.remote-expanded {
  display: flex !important;
}

#lobby.remote-hidden,
#chat-container.remote-hidden,
#compact-view.remote-hidden {
  display: none !important;
}

#connection-status {
  color: #aeb4bb;
}
